<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="foote__about-text">
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            </p>
        </section>
        <address>
            <h1 class="footer__title">
                <ul>
                    <li><i class="fa-solid fa-envelope"></i>contato&#64;exemplo.com</li>
                    <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                    <li><i class="fa-brands fa-whatsapp"></i>(00) 0000-0000</li>
                </ul>
            </h1>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados 
    </section>
</footer>