
.search-form {
    height: 50px;
    display: flex;
    max-width: 866px;
}

.search-form input {
    box-sizing: border-box;
    height: 50px;
    padding: 10px 15px;
    flex: 1;
    background-color: #d3d3d3;
    color: var(--gray);
    border: none;
    font-size: 18px;
}

.search-form button {
    width: 66px;
    height: 50px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}








